body {
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 0.9em;
  
}

/* a styles all links */
a {
  margin: 5px;
  text-decoration: none;
  color: rgb(22, 21, 21)
}

a:hover {
text-decoration-line: underline;

} 

/* flex defines a responsive container */
/* justify content space between items are evenly distributed in their container */
nav {
  display: flex;
  justify-content: space-between;
}

/* nested flex box using header-nav class */
.header-nav {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-right: 10px;
}

/* > refers to direct child of an element */
ul > a, ul > img {
  padding: 0 8px;
  margin: 20px;
}

.header-img:hover {
  cursor: pointer;

}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh; /* 5% of the viewport (browser window) */
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 38px;
  border: 1px solid gainsboro;
  border-radius: 20px;

}

.google-logo {
display: flex;
padding: 40px;

}

.input-container > input { /*input element within this container needs to be invisible basically */
  flex-grow: 1;
  border: none;
  outline: none;
}


.input-container:hover {
  box-shadow: 0 0 10px 0 gainsboro;
/* zero pixels horizontal and vertical, 10px blur*/
}

.search-bar {
  display: flex;
  padding: 20px;

}

.search-bar:hover {
  cursor: pointer;
}

.button-container {
  padding-top: 60px;

}

button {
  background-color: #f8f9fa;
  border-radius: 5px;
  border: none;
  height: 40px;
  font-family: arial, sans-serif;
  font-size: 14px;
  padding: 0 16px;
  margin: 11px 4px;


}

button:hover {

  cursor: pointer;
  box-shadow: 0 0 10px 0 gainsboro;
}

footer {
  background-color: #f2f2f2;
  position: fixed;
  width: 100vw; /* width is 100% of viewport*/
  bottom: 0;
  
}

#footer-left {
  display: flex;
  justify-self: start;
  padding-left: 20px;
  align-items: center;

}

#footer-right {
    display: flex;
    justify-self: flex-end;
    margin-right: 20px;
    align-items: center;

}

/*responsive*/

@media (max-width: 630px) {

  #footer-nav {
    flex-direction: column;
  }
  #footer-left {
    justify-self: center;
  }

  #footer-right {
    justify-self: center;
  }

  .input-container {
    width: 95vw;
  }
}

@media (max-height: 522px) {
  body {
    overflow-x: hidden;

  }
  section {
    margin-bottom: 20px;

  }
  footer {
    position: relative;
  }
}

@media (max-height: 570px, max-width: 630px) {

  body {
    overflow-x: hidden;
  }

  section {
    margin-bottom: 13px;
  }

  footer {
    position: relative;
  }
}